.product {
  padding: 10px;
  box-shadow: none;
  min-height: auto !important;
}

.product:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) !important;
  transition-duration: 0.2s;
}

.product img{
  height: 250px;
  width: 230px;
  margin: 0px !important;
  object-fit: contain;
}

.product h4 {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

.product h6 {
  margin-top: 5px;
}

.addToCart {
  background: rgb(224, 4, 4) !important;
  width: 100%;
  font-weight: 600 !important;
}

.buttongroup {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttongroup p {
  margin: 0;
}

.cartButton {
  background-color: #e00404 !important;
  border-right: none !important;
}

.css-1402ce4-MuiGrid-root>.MuiGrid-item {
  height: 516px;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
}